.box {
  display: flex;
  width: 900px;
  height: 800px;
  gap: 10px;
}
.child1 {
  display: flex;
  width: 750x;
  height: 800px;
  flex-direction: column;
  gap: 10px;
}
.child2 {
  width: 150px;
  height: 800px;
  background-color: orange;
}
.huu1 {
  width: 750px;
  height: 400px;
  display: flex;
  gap: 10px;
}
.huu2 {
  width: 750px;
  height: 400px;
  flex-direction: column;
  gap: 10px;
  display: flex;
}
.z1 {
  width: 500px;
  height: 400px;
  background-color: orange;
}
.z2 {
  width: 250px;
  height: 400px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.q1 {
  width: 250px;
  height: 250px;
  background-color: orange;
}
.q2 {
  width: 250px;
  height: 150px;
  background-color: orange;
}
.main1 {
  width: 750px;
  height: 190px;
  display: flex;
  gap: 10px;
}
.main2 {
  display: flex;
  gap: 10px;
  width: 750px;
  height: 190px;
}
.d1 {
  width: 490px;
  height: 190px;
  background-color: orange;
}
.d2 {
  width: 250px;
  height: 190px;
  background-color: orange;
}
.g1 {
  width: 250px;
  height: 190px;
  background-color: orange;
}
