.container {
  display: flex;
  width: 800px;
  height: 800px;
  gap: 10px;
}
.child1 {
  display: flex;
  width: 400px;
  height: 800px;
  flex-direction: column;
  gap: 10px;
}
.child2 {
  display: flex;
  width: 400px;
  height: 800px;
  flex-direction: column;
  gap: 10px;
}
.A {
  display: flex;
  width: 400px;
  height: 400px;
  background-color: purple;
}
.B {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  gap: 10px;
}
.q1 {
  width: 190px;
  height: 190px;
  background-color: deepskyblue;
}
